


<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Resto</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" (click)="loadADDResto()">Add Restaurant</a>
      <a class="nav-item nav-link" (click)="loadUpResto()">update Restaurant</a>
      <a class="nav-item nav-link" (click)="loadListResto()">list Restaurant</a>
      <a class="nav-item nav-link" (click)="loadLogUser()">Login User</a>
      <a class="nav-item nav-link" (click)="loadRegiUser()">Register User</a> -->



      <!-- <a *ngIf="ismenurequired" class="nav-item nav-link" routerLink="add">Add Restaurant</a> -->
      <a *ngIf="isAuthenticated" class="nav-item nav-link" routerLink="add">Add Restaurant</a>
      <a class="nav-item nav-link" routerLink="">List Restaurant</a>
      <a class="nav-item nav-link" routerLink="update">update Restaurant</a>
      <!-- <a class="nav-item nav-link" routerLink="login">Login </a> -->
      <a class="nav-item nav-link" routerLink="register">Login/Register </a>
      <a class="nav-item nav-link" *ngIf="!isAuthenticated" routerLink="auth">Auth</a>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer;">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <p>Register your Restaurant with us..</p>
  </footer>
</div>
