.container{
    margin-left: 50px;
}
footer{
    padding: 10px;
    background-color: azure;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    visibility: none;
    display: none;
}